//  colors
$extra-light-color: #fff;
$light-color: #999;

//  backgrounds
$warning-bg: #d9534f;
$success-bg: #5cb85c;
$reset-bg: #2B6CFF;
//border-radius
$border-radius: 20px;

// fonts
$main-font: "PT Sans", arial, sans-serif;
$second-font: "PT Sans Narrow", arial, sans-serif;